QGIS_Data.qgz
Sponge_Reefs_MPA_BC.CPG
Sponge_Reefs_MPA_BC.dbf
Sponge_Reefs_MPA_BC.prj
Sponge_Reefs_MPA_BC.sbn
Sponge_Reefs_MPA_BC.sbx
Sponge_Reefs_MPA_BC.shp
Sponge_Reefs_MPA_BC.shp.xml
Sponge_Reefs_MPA_BC.shx
Study_Region_BC_Land.dbf
Study_Region_BC_Land.prj
Study_Region_BC_Land.sbn
Study_Region_BC_Land.sbx
Study_Region_BC_Land.shp
Study_Region_BC_Land.shp.xml
Study_Region_BC_Land.shx
Study_Region_BC_Ocean.dbf
Study_Region_BC_Ocean.prj
Study_Region_BC_Ocean.sbn
Study_Region_BC_Ocean.sbx
Study_Region_BC_Ocean.shp
Study_Region_BC_Ocean.shp.xml
Study_Region_BC_Ocean.shx
WindFarm_Tenures.cpg
WindFarm_Tenures.dbf
WindFarm_Tenures.prj
WindFarm_Tenures.sbn
WindFarm_Tenures.sbx
WindFarm_Tenures.shp
WindFarm_Tenures.shp.xml
WindFarm_Tenures.shx
benthic14cl.tfw
benthic14cl.tif
benthic14cl.tif.aux.xml
benthic14cl.tif.vat.cpg
conservation_feats_ids.xlsx
fishcost.tif
fishcost.tif.ovr
iba_bc.tif
iba_bc.tif.aux.xml
kelp_bc.tif
kelp_bc.tif.aux.xml
killerwhale.tif
killerwhale.tif.aux.xml
sealions.tif
sealions.tif.aux.xml
sealions.tif.ovr
seaotter.tif
seaotter.tif.aux.xml
